/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

header {
    background: #264653;
}

.mb-150 {
    margin-bottom: 150px;
}

.button-bg-color {
    background-color: #E76F51;
    color: white;
}

.txt-color {
    color: #C9D1D4;
    font-weight: 300;
    font-size: 18px;
}

.best-bike {
    color: #E76F51;
    font-size: 14px;
    font-weight: 600;
}

.about-border {
    display: block;
    width: 80px;
    height: 2px;
    background: #E76F51;
    margin: 20px auto;
}

.user-img {
    height: 149px;
    width: 149px;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
}

.rating {
    color: #E77C40;
    font-size: 24px;
}

.section-title {
    font-size: 48px;
    font-weight: 600;
    color: #0A0826;
}

.accordion-btn {
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

.accordion-text {
    font-size: 16px;
    color: #7E848C;
}

footer {
    background-color: #0B0D17;
}

.foot-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
}

.foot-copyright {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: normal;
}