@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

header {
    background-color: #264653;
}

.button-bg-color {
    background-color: #E76F51;
    color: white;
}

.txt-color {
    color: #b9b6b6;
    font-weight: 300;
}

.best-bike {
    color: #E76F51;
    font-size: 14px;
    font-weight: 600;
}

.about-border {
    display: block;
    width: 80px;
    height: 2px;
    background: #E76F51;
    margin: 20px auto;
}